@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--brand_1: #f94664;
		--brand_2: #67b9e9;
		--brand_1_trs: rgba(255, 59, 92, 0.4);
		--brand_2_trs: rgba(103, 185, 233, 0.4);

		--black: #121212;
		--white: #e9e9e9;
		--light_white: #c4c4c4;
		--gray: #888888;
		--light_gray: #383839;
		--dark_gray: #2f2f2f;
		--gray_trs: #8787874d;

		--background: #e9e9e9;
		--text: #121212;
		--secondary: #f1f1f2;

		--radius: 0.5rem;
		--border: var(--black);
	}

	.dark {
		--brand_1: #f94664;
		--brand_2: #67b9e9;
		--brand_1_trs: rgba(255, 59, 92, 0.4);
		--brand_2_trs: rgba(103, 185, 233, 0.4);

		--black: #121212;
		--white: #e9e9e9;
		--light_white: #c4c4c4;
		--gray: #888888;
		--light_gray: #383839;
		--dark_gray: #2f2f2f;
		--gray_trs: #8787874d;

		--background: #121212;
		--text: #e9e9e9;
		--secondary: var(--light_gray);

		--border: var(--light_gray);
	}
}

@layer base {
	body {
		@apply bg-background text-text;
	}
}

@layer utilities {
	@variants responsive {
		.show-scrollbar:hover::-webkit-scrollbar-thumb {
			background: rgba(80, 81, 79, 0.5);
		}
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

::-webkit-scrollbar {
	height: 5px;
	width: 5px;
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 10px;
}
