@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	:root {
		--brand_1: #f94664;
		--brand_2: #67b9e9;
		--brand_1_trs: rgba(255, 59, 92, 0.3);
		--brand_2_trs: rgba(103, 185, 233, 0.3);

		--black: #121212;
		--white: #e9e9e9;
		--light_white: #c4c4c4;
		--white_trs: rgba(196, 196, 196, 0.3);
		--gray: #888888;
		--light_gray: #383839;
		--dark_gray: #2f2f2f;
		--gray_trs: #8787874d;

		--background: #e9e9e9;
		--text: #121212;
		--secondary: #f1f1f2;

		--radius: 0.5rem;
		--border: var(--black);
		--thumb-bg: rgba(0, 0, 0, .2);
	}

	.dark {
		--brand_1: #f94664;
		--brand_2: #67b9e9;
		--brand_1_trs: rgba(255, 59, 92, 0.3);
		--brand_2_trs: rgba(103, 185, 233, 0.3);

		--black: #121212;
		--white: #e9e9e9;
		--light_white: #c4c4c4;
		--gray: #888888;
		--light_gray: #383839;
		--dark_gray: #2f2f2f;
		--gray_trs: #8787874d;

		--background: #121212;
		--text: #e9e9e9;
		--secondary: var(--light_gray);

		--border: var(--light_gray);
		--thumb-bg: rgba(255, 255, 255, .2);
	}
}

@layer base {
	body {
		@apply bg-background text-text;
	}
}

@layer utilities {
	@variants responsive {
		.show-scrollbar::-webkit-scrollbar {
			width: 4px;
			height: 4px;
			background: transparent;
		}

		.show-scrollbar::-webkit-scrollbar-thumb {
			width: 4px;
			height: 4px;
			background: transparent;
		}

		.show-scrollbar:hover::-webkit-scrollbar-thumb {
			background: var(--thumb-bg);
		}

		.hide-all-controls::-webkit-media-controls-timeline {
			display: none;
		}

		.hide-controls::-webkit-media-controls-fullscreen-button {
			display: none;
		}

		.video-preview::-webkit-media-controls-panel {
			opacity: 0.6;
		}
	}
}

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

*::-webkit-scrollbar {
	height: 0;
	width: 0;
	background: transparent;
}

*::-webkit-scrollbar-thumb {
	background: transparent;
	border-radius: 6px;
}

*::-webkit-scrollbar-corner {
	display: none;
}